@import url('https://fonts.cdnfonts.com/css/naturalist');

.logo{
    background-image: url(/img/san_gil.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #009929;
    background-size:cover;
    font-size: 200px;
    margin: -8px;
    padding: 150px;
    font-family: 'Naturalist', sans-serif;
}

/* Hero */
.hero{
    background: url(img/hero-front-page-bg.jpg) center;
    background-size: cover;
    height: 100vh;
  }

/* Menu Header Restaurante */
 
header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
   
  .header-wrap{
    display: flex;
    padding: 0%;
    background-color: #006414;
    margin: -10px;
    font-family: 'Naturalist', sans-serif;

  }
   
  .wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
  }
  
  .nav-header{
    display: flex;
    align-items: center;
    width: 100%;
  }
   
  .nav-wrap-header{
    display: flex;
    flex-basis: 50%;
  }
   
  ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
  }
   
  li.menu-item{
    margin: .75rem;
    display: flex;
  }
   
  li.menu-item a{
    padding: .5rem 1rem;
    color:#98ff96;
    font-size: 37px;
    margin: 15px;
  }
   
  li.menu-item a:hover{
    color:#009929;
  }
   
  i.toggle-menu{
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
  }
   
  i.toggle-menu img{
    width: 27px;
    z-index: 99;
  }
   
  input#check{
    display: none;
  }

  @media (min-width:880px){
    .header-wrap{
      padding: .5rem 5rem;
    }
  }
   
  @media (max-width:768px){
    header{
      margin-bottom: 4rem;
    }
    .header-wrap{
      position: fixed;
      width: 100%;
      background-color: #fff;
      padding: 0;
      top: 0;
      z-index: 9999;
      height: 60px;
    }
    .wrap-logo-header{
      position: fixed;
      z-index: 999;
      top: 3%;
      left: 3%;
    }
    i.toggle-menu{
      display: flex;
    }
    ul.main-menu,#nav-main-contact{
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
    }
    ul.main-menu{
      position: fixed;
      background-color: #fff;
    }
    label.checkbtn{
      position: fixed;
      right: 3%;
      top: 3%;
      z-index: 9999;
    }
    #check:checked ~ ul{
      display: flex;
      z-index: 9;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      top: 0;
      font-size: 2rem;
    }
   
  }



  @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:30;
    --b:32px;
    --c:darkred;
    --w:200px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:25px;
    place-content:center;
    font-size:40px;
    font-weight:bold;
    font-family:sans-serif;
    color: #fff;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
    
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }


  #texto{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 31px;
    font-weight: 100;
    font-family: 'Naturalist', sans-serif;
  }